body {
    font-family: Helvetica;
}
#player-one-score {
    font-style: italic;
    color: blue;
}
#player-two-score {
    font-style: bold;
    color: red;
}

.player-one-name {
    font-style: "times new roman";
    color: green;
}
.player-two-name {
    font: Georgia;
    color: yellow;
}